<section class="section site-portfolio">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Directors index</h2>
        <p class="mb-0">Find you favorite movie!</p>
      </div>
      <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
        <div class="filters" id="filters">
          <%= link_to 'Works', works_path %>
        </div>
      </div>
    </div>
    <div class="row no-gutter" id="portfolio-grid" data-aos="fade-up" data-aos-delay="200">
      <% @directors.each do |director|   %>
        <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
          <%= link_to director_path(director), class: 'item-wrap fancybox' do %>
            <div class="work-info">
              <h3><%= director.Director %></h3>
              <span><%= director.Country %></span>
            </div>
            <% if director.image_url %>
              <%= image_tag director.image_url(:thumb), class: 'img-fluid' %>
            <% else %>
              <img src='/img/default.png', class='img-fluid'>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <p>
      <%= link_to 'Add new director', new_director_path, class: 'btn btn-success' %>
    </p>
    <p>
      <%= link_to 'Go to Movie Index', works_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>